sudo: required

notifications:
  email: false
 
language: c++
env:
  - CXX=g++-4.9
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.9
      
before_install:
  - git clone https://github.com/nlohmann/json.git
  - git clone https://gist.github.com/stpettersens/341f395541c48a01910b76d5e77dbdae.git
  - cd 341f395541c48a01910b76d5e77dbdae
  - g++-4.9 --std=c++11 netsh.cc -o netsh
  - sudo cp netsh /usr/bin/_netsh
  - cd ..
  - _netsh #!

script:
  - make
  - ./cpal --help
 
